/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* COLOR */
  --main-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;

  /* TITLE */
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff0070;

  --title-color: #353430;
  --title-decor-color: #000028;
  --title-font-size: 18px;

  /* FONT */
  --font-size: 18px;

  /* BOTTONS */
  --decorate-color: #353430;
  --button-hover-color: rgba(21%, 20%, 19%, 0.5);

  /* MISC */
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decoration-item,
.theme_light .header__decoration-item::before {
  display: none;
}
