/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
   /* COLOR */
  --main-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-color: #FFC2E6;

  /* MISC */
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --title-color: #FFC2E6;

    --bg-image: url(../images/cover-image-light.png);
  }
}
