/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* COLOR */
  --main-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;

  --header-description: #353430;

  /* TITLE */
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff0070;
  --title-font-size: 18px;
  --title-h2-color: #353430;
  --title-h3-h4-color: #353430;

  /* BOTTONS */
  --button-color: #353430;

  /* MISC */
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* COLOR */
    --main-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;

    /* TITLE */
    --main-title-color: #db00ff;
    --main-title-shadow-color: #ff0070;
    --title-font-size: 18px;
    --title-h2-color: #353430;
    --title-h3-h4-color: #353430;

    /* MISC */
    --bg-image: url(../images/cover-image-light.png);
  }
}
