/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* GLOBALS */
.page {
  display: grid;
  gap: min(10.667vi, 60px);
  color: var(--text-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 1.3em;
  background-color: var(--main-color);
  background-image: var(--bg-image);
  /* шорткатик не?))))) */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1024x;
}

.content-section {
  padding-inline: min(2.667vi, 20px);
}

/* TITLE */
.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--font-size);
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}
/* -TITLE */

/* LINKS & BUTTONS*/
.link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--button-color);
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}
/* -LINKS & BUTTONS*/
/* -GLOBALS */

/* HEADER */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: min(2.666vi, 20px);
}

.header__decoration-item {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: min(2.666vi + 9px, 20px + 9px);
  inset-block-start: min(2.666vi + 9px, 20px + 9px);
}

.header__decoration-item::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: calc(100% + 10.5px);
  inset-block-end: -70%;
}

.header::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: min(2.666vi, 20px);
  inset-block-end: min(2.666vi, 20px);
}

.header::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: min(2.666vi, 20px);
  inset-block-start: min(2.666vi, 20px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11.5px;
}

.header__theme-menu {
  align-self: center;
  margin-block-end: 6px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  /*Требуется медиа*/
  color: var(--main-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8em;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  line-height: 1.3em;
  inline-size: max(355px, 50%);
}
/* -HEADER */

/* CONTENT BLOCKS */
.content {
  display: grid;
  gap: min(13.334vi, 80px);
}

.content__section,
.section__content-blocks,
.section__wrapper,
.block-picture {
  display: grid;
  gap: 20px;
}

.content__section:last-of-type {
  gap: min(13.333vi, 80px);
}

.section__content-block {
  display: grid;
  gap: 10px;
}

/* PICTURES BLOCK */
.content-block__pictures {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.picture__item {
  inline-size: 100%;
}
/* -PICTURES BLOCK */
/* -CONTENT BLOCKS */

/* FOOTER */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: min(2.666vi, 20px);
}

.footer__title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--main-title-shadow-color);
}

.footer::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: min(2.666vi, 20px);
  inset-block-end: min(2.666vi, 20px);
}

.footer::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: min(2.666vi, 20px);
  inset-block-start: min(2.666vi, 20px);
}
/* -FOOTER */

/* DERECTIVES */

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__section:first-of-type,
  .block-text {
    grid-template-columns: 1fr 2fr;
  }

  .section-inline {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'title . .'
      'text-block text-block text-block';
  }

  .section-inline > .title {
    grid-area: title;
  }

  .section-inline > .section__content-blocks {
    grid-area: text-block;
  }

  .content-block__pictures {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .picture__item {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
  }

  .picture__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .picture__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .picture__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .picture__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .picture__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__title {
    font-size: clamp(6.1875rem, -4.6875rem + 22.6563vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .section-inline > .section__content-blocks {
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    grid-auto-flow: row dense;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__theme-menu {
    align-self: start;
  }
}
/* -DERECTIVES */

/* ACTIONS */
.link:focus,
.header__theme-menu-button {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.link:hover {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}
/* -ACTIONS */
