/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* COLOR */
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;

  /* FONT */
  --font-size: 18px;

  /* MISC */
  --bg-image: url(../images/cover-image-dark.png);
}
